<div class="row">
  <div class="col-sm-12">
    <!-- <app-shoping-edit
      (ingredientAdded)="onIngredientAdded($event)"
    ></app-shoping-edit> -->
    <app-shoping-edit></app-shoping-edit>
    <hr />
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer;"
        *ngFor="let ingredient of ingredients"
        >{{ ingredient.name }} ({{ ingredient.amount }})</a
      >
    </ul>
  </div>
</div>
