<div class="row">
  <div class="col-md-6">
    <a routerLink="/client/{{ client.id }}" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Client details
    </a>
  </div>
  <div class="col-md-6"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Client
  </div>
  <div class="card-body">
    <form #clientForm="ngForm" (ngSubmit)="onSubmit(clientForm)">
      <!-- First Name input-->
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          name="firstName"
          class="form-control"
          [ngClass]="{
            'is-invalid': clientFirstName.errors && clientFirstName.touched
          }"
          #clientFirstName="ngModel"
          [(ngModel)]="client.firstName"
          minlength="2"
          required
        />
        <div
          [hidden]="!clientFirstName.errors?.required"
          class="invalid-feedback"
        >
          First Name required
        </div>
        <div
          [hidden]="!clientFirstName.errors?.minlength"
          class="invalid-feedback"
        >
          Must be at least 2 characters
        </div>
      </div>
      <!-- Last Name input -->
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          name="lastName"
          class="form-control"
          [ngClass]="{
            'is-invalid': clientLastName.errors && clientLastName.touched
          }"
          #clientLastName="ngModel"
          [(ngModel)]="client.lastName"
          minlength="2"
          required
        />
        <div
          [hidden]="!clientLastName.errors?.required"
          class="invalid-feedback"
        >
          Last Name required
        </div>
        <div
          [hidden]="!clientLastName.errors?.minlength"
          class="invalid-feedback"
        >
          Must be at least 2 characters
        </div>
      </div>
      <!-- Email input -->
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          [ngClass]="{
            'is-invalid': clientEmail.errors && clientEmail.touched
          }"
          #clientEmail="ngModel"
          [(ngModel)]="client.email"
          minlength="2"
          pattern="^\S+@\S+$"
          required
        />
        <div [hidden]="!clientEmail.errors?.required" class="invalid-feedback">
          Email required
        </div>
        <div [hidden]="!clientEmail.errors?.pattern" class="invalid-feedback">
          Must be valid email
        </div>
      </div>
      <!-- Phone input -->
      <div class="form-group">
        <label for="phone">Phone</label>
        <input
          type="text"
          name="phone"
          class="form-control"
          [ngClass]="{
            'is-invalid': clientPhone.errors && clientPhone.touched
          }"
          #clientPhone="ngModel"
          [(ngModel)]="client.phone"
          minlength="8"
          required
        />
        <div [hidden]="!clientPhone.errors?.required" class="invalid-feedback">
          Last Name required
        </div>
        <div [hidden]="!clientPhone.errors?.minlength" class="invalid-feedback">
          Must be at least 8 characters
        </div>
      </div>
      <!-- Balance input -->
      <div class="form-group">
        <label for="balance">Balance</label>
        <input
          type="number"
          name="balance"
          class="form-control"
          #clientBalance="ngModel"
          [(ngModel)]="client.balance"
          [disabled]="disableBalanceOnEdit"
        />
      </div>
      <input type="submit" value="Submit" class="btn btn-primary btn-block" />
    </form>
  </div>
</div>
