<mat-nav-list>
  <a mat-list-item routerLink="/signup" *ngIf="!isAuth" (click)="onClose()"
    ><mat-icon>face</mat-icon> <span class="nav-caption">Signup</span>
  </a>
  <a mat-list-item routerLink="/login" *ngIf="!isAuth" (click)="onClose()"
    ><mat-icon>input</mat-icon><span class="nav-caption">Login</span></a
  >
  <a mat-list-item routerLink="/training" *ngIf="isAuth" (click)="onClose()"
    ><mat-icon>fitness_center</mat-icon
    ><span class="nav-caption">Training</span></a
  >
  <mat-list-item>
    <button mat-icon-button *ngIf="isAuth" (click)="onLogout()">
      <mat-icon>eject</mat-icon><span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
