<div class="section new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && excercises">
          <mat-select
            placeholder="Choose Exercise"
            ngModel
            name="excercise"
            required
          >
            <mat-option
              *ngFor="let excercise of excercises"
              [value]="excercise.id"
              >{{ excercise.name | titlecase }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center">
        <button
          *ngIf="excercises"
          mat-button
          type="submit"
          [disabled]="f.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!excercises"
          mat-button
          type="button"
          (click)="fetchExcercises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
